anybadge
appdirs
astmonkey
astunparse
atomicwrites
attrs
certifi
cffi
chardet
Click
colorama
cosmic-ray
coverage
cryptography
decorator
distlib
docopt
docopt-subcommands
entrypoints
exit-codes
feedparser
filelock
flake8
gitdb2
GitPython
glob2
idna
importlib-metadata
iterfzf
Jinja2
junit-xml
MarkupSafe
mccabe
more-itertools
mutmut
MutPy
numpy
packaging
pandas
parso
pathlib
pbr
pipe
pluggy
pony
py
pycodestyle
pycparser
pydot
pyflakes
pyparsing
pytest
pytest-cov
python-dateutil
pytz
PyYAML
qprompt
requests
six
smmap2
spor
stevedore
termcolor
toml
urllib3
virtualenv
wcwidth
wincertstore
yattag
zipp
